:root {
  --background: #121212;
  --primary-text: #ffffff;
  --secondary-text: #b3b3b3;
  --menu-bar: #404040;
  --hover: #282828;
  --primary: rgb(102, 3, 168);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body { 
  background-color: var(--background);
  color: var(--primary-text);  
 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  max-width: 990px;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
}
img{
  height: 100%;
  width: 100%;
}
a{
  text-decoration: none;
  color: unset;
}
p{
  color: var(--secondary-text);
  font-style: italic;
}

/* ---------------------------Layout----------------------- */
/* .logo-img{
  height: 60px;
  width: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
} */
.menu-bar{
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-evenly;
  background-color: rgb(102 3 168 / 62%);
  backdrop-filter: blur(5px);
  margin: 20px 0;
  border-radius: 5px;
  position: sticky;
  top: 0px;
  transition: 0.5s;
  box-shadow: 0 0 25px 20px var(--background);

}
.nav-links{
  color: var(--secondary-text);
  padding: 5px;
  font-size: 12pt;
  font-weight: bold;
}
.nav-links.active{
  color: var(--primary-text);
}
.nav-links.active:hover{
  border: none;
  padding: 5px;
}
.nav-links:hover{
  color: var(--primary-text);
  border-bottom: 2px solid var(--primary-text);
  padding: 3px;
}

/* ---------------------Layout End--------------- */


/* ------------------Home Page----------------- */
.home-container{
  height: fit-content;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  /* max-width: 800px; */
  margin: auto;
  box-shadow: 0 0 15px 0 rgb(139, 4, 229);
  padding: 25px 10px;
}
.details{
  width: 78%;
  padding: 1vw;
}
.details *{
  margin: 5px;

}
.home-title{
  display: flex;
  align-items: center;
}
.img{
  height: 125px;
  width: 125px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description{
  margin-left: 2.5vw;

}
.description p{
  color: var(--secondary-text);
  text-align: justify;
  line-height: 20px;
  font-size: 12pt;
}
.ext-links{
  margin-left: 2.5vw;
  display: flex;
}
.link-buttons{
  padding: 12px;
  background-color: var(--menu-bar);
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-wrap: nowrap;

}
.link-buttons:hover{
  background-color: var(--hover);
}
.link-button-icons{
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 5px;
  border-radius: 150%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-button-icons img{
  margin: 0;
}

.home-nav{
  height: 100%;
  width: 22%;
  display: flex;
  flex-direction: column;
  padding: 10px;

}

.home-links{
  margin: 20px 0;
  font-size: 14pt;
  width: 80%;
  display:flex;
  transition: 0.3s;
  font-weight: 200;
  justify-content: space-between;
  align-items: center;
  
}
.home-links:hover{
  width: 100%;
  font-size: 15pt;
}

/* ------------------------Home Page End -------------------------- */


/* ------------------------Projects Page------------------------------- */
.projects{
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 20px 0;
}
.card{
  margin: 20px;
  padding: 10px;
  height: 350px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 15px -7px var(--hover);
}
.content{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60%;
}
.project-title h2{
  text-align: center;
}
.content *{
  margin: 5px;
}

.small-preview{
  width: 100%;
  height: 40%;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-preview img{
  width: auto;
}
.project-des{
  color: var(--secondary-text);
  text-align: center;
  font-style: italic;
}
.project-link{
  /* border: 1px solid var(--primary); */
  padding: 7px;
  cursor: pointer;
  color: var(--primary-text);
  border-radius: 5px;
}
.project-link:hover{
  color: var(--primary-text);
  background-color: var(--primary);
}

/* ---------------------------Projects End---------------------------- */

/* ----------------------------Education Start--------------------------- */
.education{
  /* width: fit-content;
  margin: auto; */
}
.section{
  display: flex;
  min-height: 200px;
  width: 100%;
  padding: 0 20px;
}
.icon-div{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon{
  height: 50px;
  width: 50px;
  background-color: var(--primary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-animation{
  animation: edu-icon 1.5s infinite;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 2px solid var(--primary);

}
@keyframes edu-icon {
  from{
    padding: 50%;
    opacity: 1;
  }
  to{
    padding: 150%;
    opacity: 0;
  }
}
.line{
  width: 0;
  height: 42%;
  border-left: 2px solid var(--primary);
}
.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
}





